.header {
    height: 95vh;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-primary-light, 0.8)), to(rgba($color-primary-dark, 0.8))), url('../img/hero.jpg');
    background-image: -webkit-linear-gradient(left top, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../img/hero.jpg');
    background-image: -o-linear-gradient(left top, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../img/hero.jpg');
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 90%);
    position: relative;

    @include respond($breakpoint-tablet-portrait) {
        height: 75vh;
    }

    @include respond($breakpoint-phone) {
        height: 50vh;
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;

        @include respond($breakpoint-tablet-portrait) {
            position: relative;
            display: block;
            width: 75%;
        }
    }

    &__logo {
        height: 3.5rem;
        width: auto;
    }

    &__heading-box {
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;

        @include respond($breakpoint-tablet-portrait) {
            position: relative;
        }
    }
}