.composition {

    position: relative;

    &__photo {
        width: 55%;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        outline-offset: 2rem;

        @include respond($breakpoint-tablet-landscape) {}

        @include respond($breakpoint-tablet-portrait) {
            width: 35%;
        }

        @include respond($breakpoint-phone) {
            width: 55%;
        }

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            left: 25rem;
            top: 2rem;

            @include respond($breakpoint-tablet-landscape) {
                left: 18rem;
            }

            @include respond($breakpoint-tablet-portrait) {
                top: -2rem;
                left: 30rem;
            }

            @include respond($breakpoint-phone) {
                top: 1rem;
                left: 12rem;
            }
        }

        &--p3 {
            left: 10rem;
            top: 12rem;

            @include respond($breakpoint-tablet-landscape) {}

            @include respond($breakpoint-tablet-portrait) {
                top: 1.5rem;
                left: 15rem;
            }

            @include respond($breakpoint-phone) {
                top: 7rem;
                left: 5rem;
            }
        }

        &:hover {
            outline: 1.5rem solid $color-primary;

            z-index: 1;
            -webkit-transform: scale(1.05) translateY(-5px);
            -ms-transform: scale(1.05) translateY(-5px);
            transform: scale(1.05) translateY(-5px);
            -webkit-box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        }
    }

    &:hover &__photo:not(:hover) {
        -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
        transform: scale(.95);
    }
}