.story {
    width: 75%;
    margin: 0 auto;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .15);
    box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .15);
    background-color: rgba($color-white, $alpha: .60);
    border-radius: 0.5rem;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    -webkit-transform: skewX(-12deg);
    -ms-transform: skewX(-12deg);
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-transform: translateX(-3rem) skewX(12deg);
        -ms-transform: translateX(-3rem) skewX(12deg);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;

    }

    &__img {
        height: 100%;
        -webkit-transform: translateX(-3rem) scale(1.3);
        -ms-transform: translateX(-3rem) scale(1.3);
        transform: translateX(-3rem) scale(1.3);
        -webkit-transition: ease-in .2s;
        -o-transition: ease-in .2s;
        transition: ease-in .2s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &__text {
        -webkit-transform: skewX(12deg);
        -ms-transform: skewX(12deg);
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        -webkit-transition: ease-in .2s;
        -o-transition: ease-in .2s;
        transition: ease-in .2s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        -webkit-transform: translateX(-3rem) scale(1);
        -ms-transform: translateX(-3rem) scale(1);
        transform: translateX(-3rem) scale(1);
        -webkit-filter: blur(3px) brightness(75%);
        filter: blur(3px) brightness(75%);
    }
}