.section-about {
    background-color: $color-grey-light-1;
    padding: 30rem 5rem;
    margin-top: -27vh;
    margin-bottom: 13vh;
}

.section-features {
    padding: 30rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../img/nat-4.jpg');
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
    margin-top: -35vh;
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 33rem 0 15rem 0;
    margin-top: -20vh;
}

.section-stories {
   padding: 15rem 0;
   background-color: $color-grey-light-1;
}